{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block extrahead %} {% endblock %}
    <link rel="stylesheet" href='{% static "css/reset.css" %}' />
    <link rel="stylesheet" href='{% static "css/nav.css" %}' />
    <!--css 파일 넣는곳-->
  </head>
  <body>
    <div class="baseWrapper">
      <div class="header">
        <div class="headerItem">
          <a href="{% url 'home' %}">
            로고이미지
            <img class="logo" src="" alt="" />
          </a>
        </div>
        <div class="headerItem menu main_menu">
          <div class="menu"><a href="{% url 'plogging' %}">플로깅</a></div>
          <div class="menu"><a href="{% url 'vegetarian' %}">채식</a></div>
          <div class="menu"><a href="{% url 'container' %}">용기내챌린지</a></div>
          <div class="menu"><a href="{% url 'gogo' %}">고고챌린지</a></div>
          <div class="menu"><a href="{% url 'others' %}">기타</a></div>
        </div>
        <div class="login_out">
          <div class="menu"><a href="{% url 'login' %}">로그인/가입</a></div>
        </div>
      </div>

      {%block content%} {% endblock%}
    </div>
  </body>
</html>
