{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>용기내 챌린지</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normal_page_view.css' %}" />
    <link rel="stylesheet" href='{% static "css/reset.css" %}' />
</head>
<body>
    <div class="container">
        <img class="photo" src="../static/images/container.PNG">
        <img class="photo" src="../static/images/water_bottle.jpg">
        <img class="photo" src="../static/images/shopping.PNG">
        <img class="photo" src="../static/images/water_bottle.jpg">
        <img class="photo" src="../static/images/shopping.PNG">
        <img class="photo" src="../static/images/container.PNG">
        <img class="photo" src="../static/images/shopping.PNG">
        <img class="photo" src="../static/images/container.PNG">
        <img class="photo" src="../static/images/water_bottle.jpg">
    </div>
    <br><br><br>
</body>
{%endblock%}