{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}{% block extrahead %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href='{% static "css/eachNomal.css" %}' />
    <title>GreenLog</title>
    {% endblock%}
  </head>
  <body>
    {%block content%}
    <div class="section">
      <div class="container">
        <div class="left">
          <img src="{{MyPost.image.url}}" style="height: 500px; width: 500px" />
        </div>
        <div class="right">
          <div class="auth-each-header each-header">
            <img class="image" src="{{User.profile}}" />
            <span style="display: block; margin-top: 9px"
              >{{User.nickname}}</span
            >
          </div>
          <hr />
          <div class="elements">
            <div class="each-header">
              <img class="image" src="{{User.profile}}" alt="" />
              <span style="display: block; margin-top: 9px"
                >{{User.nickname}}</span
              >
            </div>
            <div class="content">
              <p class="title">{{MyPost.title}}</p>
              <p>{{MyPost.content}}</p>
            </div>
          </div>
          <hr />
          <div class="like">
            <form action="{% url 'yesUp' MyPost.id%}" method="POST">
              {% csrf_token %}
              <input
                type="button"
                class="like-button"
                id="like"
                name="like_button"
                value="{{post.id}}"
              />
              <!-- <img src="../static/images/heart.png" /> -->
            </form>

            <div class="likecount">
              <p>좋아요 {{MyPost.like}}</p>
            </div>
          </div>
          <div class="date">
            <p>{{MyPost.date}}</p>
          </div>
          <hr />
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
