{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}{% block extrahead %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href='{% static "css/eachNomal.css" %}' />
    <title>GreenLog</title>
    {% endblock%}
  </head>
  <body>
    {% if messages %}
    <div>
      {% for message in messages %} {{ message.tags }}! {{ message.message }}
      {%endfor %}
    </div>
    {% endif %} {%block content%}
    <div class="section">
      <div class="container">
        <div class="left">
          {% comment %}
          <img src="{{MyPost.image.url}}" style="height: 500px; width: 500px" />
          {% endcomment %} {% for photo in MyPost.photo_set.all%}
          <img src="{{photo.image.url}}" width="50" /><br />
          {% endfor %}
        </div>
        <div class="right">
          <div class="auth-each-header each-header">
            <img class="image" src="{{Writer.profile.url}}" />
            <span style="display: block; margin-top: 9px"
              >{{Writer.nickname}}</span
            >
          </div>
          <hr />
          <div class="elements">
            <div class="each-header">
              <img class="image" src="{{Writer.profile.url}}" alt="" />
              <span style="display: block; margin-top: 9px"
                >{{Writer.nickname}}</span
              >
            </div>
            <div class="content">
              <p class="title">{{MyPost.title}}</p>
              <p>{{MyPost.content}}</p>
            </div>
          </div>
          <hr />
          <div class="like">
            <form action="{% url 'each' MyPost.id %}" method="POST">
              {% csrf_token %}
              <button
                type="submit"
                class="like-button"
                id="like"
                name="like_button"
              >
                {%if "true" in like%}
                <img
                  src="../static/images/fullHeart.png"
                  style="width: 28px; height: 28px"
                />
                {%else%}
                <img
                  src="../static/images/heart.png"
                  style="width: 28px; height: 28px"
                />
                {%endif%}
              </button>
            </form>

            <div class="likecount">
              <p>좋아요 {{MyPost.like}}</p>
            </div>
          </div>
          <div class="date">
            <p>{{MyPost.date}}</p>
          </div>
          <hr />
        </div>
      </div>
    </div>
    {% endblock %}
    <script>
      $(document).ready(function () {
        $(".message-clear").click(function () {
          $(".message-wrap").fadeOut();
        });
      });
    </script>
  </body>
</html>
