{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  {% block extrahead %}
  <title>login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href='{% static "css/reset.css" %}' />
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script>
    $(document).ready(function () {
      $(".message-clear").click(function () {
        $(".message-wrap").fadeOut();
      });
    });
  </script>
  {% endblock%}
</head>
<body class="body" width="100%" height="100%">
  <form action="." method="post" class="loginform">
    {% csrf_token %}
    <h1>Login</h1>
    <div class="nicknameform">
      <input
        type="text"
        class="nickname"
        id="nickname"
        placeholder="Nickname"
        name="nickname"
      />
    </div>
    <div class="passwordform">
      <input
        type="password"
        class="password"
        id="password"
        placeholder="Password"
        name="password"
      />
    </div>
    <button type="submit" class="btn">Login</button>
    <div class="bottomText">
      Don't you have ID? <a href="{% url 'signup' %}">sign up</a>
    </div>
    <div class="error">{{ error }}</div>
  </form>
</body>
{% if messages %}
<div class="message-wrap">
  {% for message in messages %}
  <div class="message-tag">※ {{message.tags}} ※</div>
  <div class="message-content">{{message.message}}</div>
  {% endfor %}
  <input class="message-clear" type="button" value="확인" />
</div>
{% endif %} {% endblock %}
