{% extends 'base.html' %} {%block content%}{% load static %}
<head>
  {% block extrahead %}
  <link rel="stylesheet" href='{% static "css/mypage.css" %}' />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
  />
  <link rel="stylesheet" href='{% static "css/mypage.css" %}' />
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

  {% endblock%}
</head>
<div class="mypage_main">
  <section class="section1_profile">
    <!-- 파이썬으로 img, nickname 가져오기 -->
    <div class="myprofile_img my_image">
      <img src="../static/images/somm12.jpeg" alt="" />
    </div>
    <div class="myprofile_nickname">{{request.session.user}}님</div>
    {% comment %} {% if count > 10 %} {% endcomment %}
    <div class="myprofile_rank">등급 : silver🪙</div>
    {% comment %} {% endif%} {% endcomment %}
    <div class="user_level">
      <div class="level_description">
        <div class="level_title">
          <div class="level">레벨</div>
          <div class="num">개수</div>
        </div>
        <div class="level_mark">
          <div class="level_mark_col">
            <div class="level_name">Bronze</div>
            <div class="level_num">0 - 14개</div>
          </div>
          <div class="level_mark_col">
            <div class="level_name">Silver</div>
            <div class="level_num">15 - 29개</div>
          </div>
          <div class="level_mark_col">
            <div class="level_name">Gold</div>
            <div class="level_num">30 - 44개</div>
          </div>
          <div class="level_mark_col">
            <div class="level_name">Platinum</div>
            <div class="level_num">45 - 59개</div>
          </div>
          <div class="level_mark_col">
            <div class="level_name">Diamond</div>
            <div class="level_num">60 - 75개</div>
          </div>
          <div class="level_mark_col">
            <div class="level_name">Ruby</div>
            <div class="level_num">75개 이상</div>
          </div>
        </div>
      </div>
      <div class="left_post_num">
        <div class="next_level">Silver</div>
        <div class="left_num_text">까지 5개남음</div>
      </div>
    </div>
  </section>
  <section class="section2_mypost_activity">
    <div class="carousel-wrapper">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="../static/images/bibibap.jpg" alt="" />
          <img src="../static/images/salad.jpg" />
        </div>

        <div class="item">
          <img src="../static/images/salad2.jpg" />
          <img src="../static/images/mask_trash.jpg" />
        </div>
        <div class="item">
          <img src="../static/images/garbage_can.jpg" />
          <img src="../static/images/water_bottle.jpg" />
        </div>
        <div class="item">
          <img src="../static/images/plastic_trash.jpg" />
          <img src="../static/images/plastic_trash2.jpg" />
        </div>
        <div class="item">
          <img src="../static/images/recycling.jpg" />
          <img src="../static/images/bibibap.jpg" />
        </div>
        <div class="item">
          <img src="../static/images/bibibap.jpg" />
          <img src="../static/images/bibibap.jpg" />
        </div>
        <div class="item">
          <img src="../static/images/bibibap.jpg" />
        </div>
      </div>
    </div>

    <div class="my_lawn">
      <div class="my_lawn_detail">
        <section class="month">
          <div>Jan</div>
          <div>Feb</div>
          <div>Mar</div>
          <div>Apr</div>
          <div>May</div>
          <div>Jun</div>
          <div>Jul</div>
          <div>Aug</div>
          <div>Sep</div>
          <div>Oct</div>
          <div>Nov</div>
          <div>Dec</div>
        </section>
        <section class="my_lawn_date">
          <div class="what_day">
            <div>Mon</div>
            <div>Wed</div>
            <div>Fri</div>
          </div>
          <div class="count_day"></div>
          <!-- 52주 -->
          <!-- <div class="week">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div> -->
        </section>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="/static/js/mypage.js"></script>
<script>
  $(".owl-carousel").owlCarousel({
    margin: 15,
    nav: true,
    navText: [
      "<div class='nav-button owl-prev'>‹</div>",
      "<div class='nav-button owl-next'>›</div>",
    ],
    responsive: {
      0: {
        items: 1,
      },
      600: {
        items: 2,
      },
      1000: {
        items: 4,
      },
    },
  });
</script>
{% endblock%}
