{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Plogging view</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/plogging_view_page.css' %}"
    />
    <link rel="stylesheet" href='{% static "css/reset.css" %}' />
  </head>
  <body>
    {%block select_location%} {% include 'selectLocation.html' %} {%endblock%}

    <div class="container">
      <img class="photo" src="../static/images/plastic_trash2.jpg" />
      <img class="photo" src="../static/images/garbage_can.jpg" />
      <img class="photo" src="../static/images/mask_trash.jpg" />
      <img class="photo" src="../static/images/garbage_can.jpg" />
      <img class="photo" src="../static/images/plastic_trash2.jpg" />
      <img class="photo" src="../static/images/mask_trash.jpg" />
      <img class="photo" src="../static/images/mask_trash.jpg" />
      <img class="photo" src="../static/images/garbage_can.jpg" />
      <img class="photo" src="../static/images/plastic_trash2.jpg" />
    </div>
    <br /><br /><br />
  </body>
  {%endblock%}
</html>
