{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <title>Sign up</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup_done.css' %}" />
  <link rel="stylesheet" href='{% static "css/reset.css" %}' />
</head>

<body class="body" width="100%" height="100%">
    <div class="comment">
        <h1 class="message">{{ message }}</h1>
        <a href = "{% url 'login' %}"><button type = "button" class="btn">로그인하기</button></a>
        <a href = "{% url 'home' %}"><button type = "button" class="btn">Home</button></a>
        
</body>
{% endblock %}
