.section {
  display: flex;
  justify-content: center;
  background-color: #dfefd1;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 32px;
  height: 500px;
  margin-top: 60px;
  border: 1px solid black;
  background-color: white;
}

.left {
  width: 500px;
  height: 500px;
  margin-right: 16px;
  box-sizing: content-box;
  border: 1px solid black;
}

.right {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 320px;
}

.each-header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.auth-each-header {
  height: 72px;
  padding: 14px;
}

.each-header > img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.elements {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 18px 14px;
  /* overflow: scroll; */
}

.content > p:first-child {
  margin: 10px 0px 0px 16px;
  font-size: 24px;
  font-weight: 700;
}

.content > p:nth-child(2) {
  line-height: 145%;
  margin: 10px 0px 0px 32px;
}

.like {
  display: flex;
  flex-direction: row;
}

.like-button {
  height: 30px;
  width: 31px;
  margin: 8px 16px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  /* border: px; */
}

.button-inner {
  width: 100%;
  height: 100%;
}

.likecount {
  display: flex;
  align-items: center;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}

.date > p {
  color: #8e8e8e;
  font-size: 10px;
  font-weight: 700;
  margin: 0px 0px 8px 16px;
}

hr {
  margin: 0;
}

.each-header > img,
.elements > img {
  border-radius: 70%;
}

/**
* 카러셀 시작
*/

.carousel-wrapper {
  width: 500px;
  height: 500px;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.item {
  width: 500px;
}

.owl-item .active {
  width: 500px;
}

.owl-carousel .item {
  text-align: center;
}

.owl-carousel .nav-button {
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: absolute;
  top: 240px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.owl-carousel .owl-prev {
  left: -3px;
}

.owl-carousel .owl-next {
  right: -3px;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #ffffff;
  font-size: 39px;
  background: #000000;
  border-radius: 3px;
}
.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

.aaa {
  visibility: hidden;
}
