/*main page css start*/
.home_body {
  z-index: 1;
}
.home_body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.main_page {
  height: 100vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.main_logo img {
  width: 300px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.greenlog_back_img {
  z-index: -1;
  position: absolute;
  animation: fadeIn 0.5s linear;
  width: 100%;
  height: 100vh;
}
.opacity-for-homepage-box {
  /* margin-top: 70px; */
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
  /* top: 70px; */
  left: 0;
}
.intro_box,
.login_make_post_box {
  margin: 0px 30px;
}
.intro_box > div {
  display: flex;
  height: 300px;
  justify-content: space-between;

  background-color: rgb(237, 248, 223);
  border-radius: 20px;
}
.main_logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_content {
  font-size: 18px;
  line-height: 30px;
}
.login_make_post_box {
  margin-top: 10px;
}
.login_make_post_box > div {
  display: flex;
  justify-content: flex-end;
}
.login_make_post_box .login {
  margin-right: 10px;
}
.intro_btn {
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(174, 216, 123);
}
.login_make_post_box .login a {
  text-decoration: none;
  color: black;
}

.login_make_post_box .make_post a {
  text-decoration: none;
  color: black;
}
