.baseWrapper {
  height: 100vh;
}
.mypage_main {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.section1_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myprofile_nickname {
  margin-top: 10px;
  font-weight: 600;
}
.myprofile_rank {
  margin-top: 10px;
  font-weight: 600;
}
.section2_mypost_activity {
  width: 60%;
}
.my_image img {
  width: 200px;
  height: 200px;
}

.myprofile_img img {
  border-radius: 50%;
}
/* section2 -> 나의 활동 부분 carousel part */
/* carousel API css */
.owl-carousel img {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.carousel-wrapper {
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}
/* carousel nav부분 없애는 css */
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #5110e9;
}

.owl-carousel .item {
  text-align: center;
}

.owl-carousel .nav-button {
  height: 20px;
  width: 20px;

  cursor: pointer;
  position: absolute;
  top: 200px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  /* pointer-events : 화살표 click 반응 x */
  opacity: 0.25;
}

.owl-carousel .owl-prev {
  left: -35px;
}

.owl-carousel .owl-next {
  right: -45px;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #ffffff;
  font-size: 30px;
  background: #757373;
  border-radius: 3px;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

/* my lawn 잔디밭 파트 */
.my_lawn {
  margin-top: 30px;
  height: 120px;
}
.my_lawn_detail {
  height: 100%;
}
.month {
  display: flex;
  justify-content: space-around;
  padding: 0px 15px;
}
.month div {
  font-size: 12px;
}
.my_lawn_date {
  display: flex;
  height: 100%;
}
.what_day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  padding: 10px 0px;
}
.what_day div {
  font-size: 12px;
}
.count_day {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.week {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.week .count {
  background-color: #d7d9dd;
  height: 10px;
  width: 10px;
  border-radius: 2px;
}
.week:nth-child(3n) .count:nth-child(2n) {
  background-color: #a1d177;
}
.week:nth-child(4n) .count:nth-child(5n) {
  background-color: #a1d177;
}
